files:
  "/etc/nginx/conf.d/02-test.conf":
    content: |
        # HTTPS server
        server {
            server_name perryrhodan.us www.perryrhodan.us; # managed by Certbot

            listen 443 ssl; # managed by Certbot
            ssl_certificate /etc/letsencrypt/live/perryrhodan.us/fullchain.pem; # managed by Certbot
            ssl_certificate_key /etc/letsencrypt/live/perryrhodan.us/privkey.pem; # managed by Certbot
            include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
            ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

            if ($host = www.perryrhodan.us) {
                return 301 https://$host$request_uri;
            } # managed by Certbot


            if ($host = perryrhodan.us) {
                return 301 https://$host$request_uri;
            } # managed by Certbot


            listen        80 ;
            server_name perryrhodan.us www.perryrhodan.us;
            return 404; # managed by Certbot
        }
