files:
  "/tmp/test-certbot.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server
      server {
      }
  "/etc/nginx/conf.d/02-test.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        # HTTPS server
        server {
        }
