<html>

<head>
    {{> header-head }}
</head>
<body>

<div id="app" v-cloak>
    {{> header-login }}

    <h1 align="center">Perry Rhodan English summaries</h1>

    Welcome to the Perry Rhodan English summaries web site! This site contains summaries written in English
    of the <a href="https://en.wikipedia.org/wiki/Perry_Rhodan">Perry Rhodan series</a>.
    If you recently read an issue that is not listed below, please submit a summary by
    entering its number in the text field below. Or you can ust that text field to directly jump to an existing
    summary.

    You can also subscribe to the
    <a href="http://feeds.feedburner.com/PerryRhodanSummaries">
        RSS feed
        <img src="http://beust.com/pics/feed-icon16x16.png"
             alt="http://feeds.feedburner.com/PerryRhodanSummaries" border="0"/></a>,
    <a href="http://twitter.com/PerryRhodanUS">follow us on Twitter</a>,
    or jump directly to an issue:

    <br/>

    <table align="center">
        <tr align="center">
            <td>
                <form action = "/summaries" method="get">
                    <input type="text" name="number"/><br>
                    <input type="submit" value="Show summary" />
                </form>
            </td>
        </tr>
    </table>

    <p>
        Total number of summaries: {{summaryCount}} ({{percentage}} %)
    </p>

    <p>
        Latest summaries posted:
        <ul>
            {{#recentSummaries}}
                <li><a href="/summaries/{{number}}">{{number}}: {{englishTitle}}</a> ({{date}})</li>
            {{/recentSummaries}}
        </ul>
    </p>

    <table class="cycles" border="1" align="center" width="80%">
        <thead>
            <td>Number</td>
            <td>Cycle</td>
            <td>Details</td>
        </thead>
        {{#cycles}}
        <tr>
            <td><span class="number">{{number}}</span></td>
            <td><a href="{{href}}"><span class="english-title">{{englishTitle}}</span></a>
                <br>
                <span class="german-title">{{germanTitle}}</span>
            </td>
            <td class="details">
                {{start}}-{{end}}
                <br>
                {{summaryCount}} summaries
                <br>
                {{percentage}}%
            </td>
        </tr>
        {{/cycles}}
    </table>

</div>

{{> footer }}
</body>
<html>

