<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div id="app">
    {{> header}}

    <h1>Perry Rhodan English summaries</h1>

    <table align="center">
        <tr align="center">
            <td>
                <form action = "/summaries" method="get">
                    <input type="text" name="number"/><br>
                    <input type="submit" value="Show summary" />
                </form>
            </td>
        </tr>
    </table>

    <p>
        Total number of summaries: {{summaryCount}} ({{percentage}} %)
    </p>

    <p>
        Latest summaries posted:
        <ul>
            {{#recentSummaries}}
                <li><a href="/summaries/{{number}}">{{number}}: {{englishTitle}}</a> ({{date}})</li>
            {{/recentSummaries}}
        </ul>
    </p>

    <table>

    <table>
        <thead>
            <td>Number</td>
            <td>Issues</td>
            <td>German title</td>
            <td>English title</td>
            <td>Number of summaries</td>
            <td>Percentage completed</td>
        </thead>
        {{#cycles}}
        <tr>
            <td>{{number}}</td>
            <td>{{start}}-{{end}}</td>
            <td>{{germanTitle}}</td>
            <td><a href="{{href}}">{{englishTitle}}</a></td>
            <td>{{summaryCount}}</td>
            <td>{{percentage}}%</td>
        </tr>
        {{/cycles}}
    </table>

</div>
<p>
    <hr width="100%"/>
    Created by <a href="mailto:cedric@beust.com">Cedric Beust</a>
</p>
</body>
<html>

