{{=<% %>=}}

<html>

<head>
    <%> header-head %>
</head>
<body>

<div id="app">
    <%> header-login %>

    <h1 align='center'>Perry Rhodan Cycle {{result.cycle.number}}</h1>
    <h1 align="center"><i>{{result.cycle.englishTitle}}</i></h1>
    <h2 align="center">Hefte #{{result.cycle.start}}-#{{result.cycle.end}}</h2>

    <hr>
<!--
    <p>
        Published in Germany from  to <p>
        Started reading: <p>

-->

    <table border="1" align="center" width="80%">
        <tr v-for="book in result.books">
            <td>{{book.number}}</td>
            <td>{{book.germanTitle}}</td>
            <td><a v-bind:href="book.href">{{book.englishTitle}}</a></td>
            <td>{{book.bookAuthor}}</td>
        </tr>
    </table>

    <%> navigation %>

</div>

</body>
<script src="/static/js/displayCycle.js"></script>
<html>
