<html>

<head>
    {{> header-head }}
</head>
<body>

<div id="app" v-cloak>
    {{> header-login }}

    <h1 style="padding-bottom: 10px" align="center">Perry Rhodan English summaries</h1>

    <div class="welcome">
    Welcome to the Perry Rhodan English summaries web site! This site contains summaries written in English
    of the <a href="https://en.wikipedia.org/wiki/Perry_Rhodan">Perry Rhodan series</a>.
    If you recently read an issue that is not listed below, please submit a summary by
    entering its number in the text field below. Or you can ust that text field to directly jump to an existing
    summary.

    You can also subscribe to the
    <a href="http://feeds.feedburner.com/PerryRhodanSummaries">
        RSS feed
        <img src="http://beust.com/pics/feed-icon16x16.png"
             alt="http://feeds.feedburner.com/PerryRhodanSummaries" border="0"/></a>,
    <a href="http://twitter.com/PerryRhodanUS">follow us on Twitter</a>,
    or jump directly to an issue:

    </div>

    <table align="center" style="padding-bottom: 20px" width="100%">
        <tr align="center">
            <td>
                <form action = "/summaries" method="get" id="enter-summary-number">
                    <input type="text" name="number"/>
                    <input style="font-size: 20px" type="submit" value="Show summary" />
                </form>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="column-1">
            <p class="total-number">
                {{summaryCount}} summaries ({{percentage}} %)
            </p>

            <p class="latest-summaries">
                Latest summaries posted
            </p>
            <table>
                {{#recentSummaries}}
                <tr>
                    <td><img width="80" height="100" src="{{coverUrl}}"/></td>
                    <td>
                        <a href="{{summaryUrl}}">
                            <span class="latest-summaries-posted">{{number}}</span>
                            <br>
                            <span class="latest-summaries-posted">{{englishTitle}}</span>
                            <br>
                            <span class="latest-summaries-posted">{{date}}</span>
                        </a>
                    </td>
                </tr>
                {{/recentSummaries}}
            </table>
        </div>

        <div class="column-2">
            <table class="cycles" border="0" align="center" width="80%">
                {{#cycles}}
                <tr>
                    <td class="number">
                        {{number}}
                    </td>
                    <td style="padding-bottom: 10px;"><a href="{{href}}">
                        <span class="english-title">{{englishTitle}}</span></a>
                        <br>
                        <span class="german-title">{{germanTitle}}</span>
                    </td>
                    <td>
                        <span class="range">{{start}}-{{end}}</span>
                        <br>
                        <span class="summary-count">{{summaryCount}}/{{bookCount}} summaries</span>
                    </td>
                </tr>
                {{/cycles}}
            </table>
        </div>
    </div>

</div>

{{> footer }}
</body>
<html>

