<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Perry Rhodan:  Type in your summary</title>

    {{> header-head }}
</head>
<body>

<div id="app" v-cloak>
    {{> header-login }}

    <form action="/api/summaries" method="post">
    <h3><p align="center">Perry Rhodan #{{summary.number}}
        <br>Cycle:<input type="text" size="60" name="cycle" value="{{summary.germanCycleTitle}}"/></h3></p>
    <p>

    <table>

        <tr>
            <td>
                Title:
            </td>
            <td>
                <input type="text" size="60" name="germanTitle" value="{{summary.germanTitle}}"/>
            </td>
        </tr>

        <tr>
            <td>
                Author:
            </td>
            <td>
                <input type="text" size="60" name="bookAuthor" value="{{summary.bookAuthor}}"/>
            </td>
        </tr>

        <tr>
            <td>
                Date:
            </td>
            <td>
                <input type="text" size="60" name="date" value="{{summary.date}}"/>
            </td>
        </tr>

        <tr>
            <td>
                English title:
            </td>
            <td>
                <input type="text" size="60" name="englishTitle" value="{{summary.englishTitle}}"/>
            </td>
        </tr>
    </table>

    <p>

        Your summary:<br>
        <font size="-1"><em>
            Regular HTML, don't forget &lt;p&gt; between each paragraph.
        </em>
        </font>
    <p>

    <textarea rows="15" cols="80" name="summary">{{summary.text}}</textarea>

    <input type="hidden" name="number" value="{{summary.number}}" />
    <input type="hidden" name="time" value="" />
    <input type="hidden" name="user" value="t_hora" />

    <p>

    <table>
        <tr>
            <td>
                Your name (optional):
            </td>
            <td><input type="text" size="60" name="authorName" value="{{authorName}}"/></td>
        </tr>

        <tr>
            <td>
                Your email address (optional):
            </td>
            <td><input type="text" size="60" name="authorEmail" value="{{authorEmail}}"/><br>
                <font size="-1"><em>Your email address will not appear on the Web site and
                    I will only use it to let you know when your summary becomes available.
                </em>
                </font>
            </td>
        </tr>

<!--
        <tr>
            <td>
                User name (administrator only):
            </td>
            <td>
                <input type="text" size="60" name="user" value="{{user.name}}"/>
            </td>
        </tr>
-->

        <tr align="center">
            <td colspan="2">
                <br>
<!--
                <em><font size="-1">Admin mode (xxx:1)</font></em><br><INPUT TYPE=SUBMIT VALUE="Submit">
-->
            </td>
        </tr>
        <tr>
            <td>
                <INPUT TYPE=SUBMIT VALUE="Submit">
            </td>
        </tr>
    </table>

</form>
</div>

{{> footer }}
</body>
<html>

