    <div style="float: right">

        {{#bannerInfo.username}}
            <b>{{bannerInfo.username}}</b> |
            <a href="/logout">Logout</a>
        {{/bannerInfo.username}}

        {{#bannerInfo.adminText}}
            | <a href="/admin">{{bannerInfo.adminText}}</a>
        {{/bannerInfo.adminText}}

        {{^bannerInfo.username}}
            <div id="login" style="float:right">
                <a href="#" onclick="openForm()">Login</a>
            </div>
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" style="display:none; float:right;">
                <div class="modal-dialog">
                    <div class="loginmodal-container">
                        <form action="/api/login" method="post">
                            <input type="text" name="username" placeholder="Username">
                            <input type="password" name="password" placeholder="Password">
                            <input type="submit" name="login" class="login loginmodal-submit" value="Login" onclick="closeForm()">
                        </form>
                    </div>
                </div>
            </div>
        {{/bannerInfo.username}}
    </div>

