<link rel="stylesheet" type="text/css" href="/static/css/summary.css" >
<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
<!--
<link rel="stylesheet" href="http://beust.com/beust.css" >
-->

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/static/js/common.js"></script>
