<link rel="stylesheet" type="text/css" href="/static/css/summary.css" >
<!--
<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
<link rel="stylesheet" href="http://beust.com/beust.css" >
-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,600|Roboto:300,400" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/static/js/common.js"></script>
