<?xml version="1.0" encoding="iso-8859-1" ?>
<rss version="2.0"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
     xmlns:admin="http://webns.net/mvcb/"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">

    <channel>
        <title>Perry Rhodan Summaries</title>
        <link>{{url}}</link>
        <description>Summaries of Perry Rhodan cycles in English</description>
        <dc:language>en-us</dc:language>
        <dc:creator>cedric@beust.com</dc:creator>
        <dc:date>" date('d/m/y H:i:s') "</dc:date>
        <sy:updatePeriod>daily</sy:updatePeriod>
        <sy:updateFrequency>1</sy:updateFrequency>

        {{#items}}
        <item>
            <title>{{number}} : {{englishTitle}}</title>
            <link>{{url}}</link>
            <description>{{germanTitle}}</description>
            <dc:date>{{date}}</dc:date>
        </item>
        {{/items}}
    </channel>
</rss>
