{{=<% %>=}}
<html>

<head>
    <%> header-head %>
</head>
<body>

<div id="app" v-cloak>
    <%> header-login %>

    <p align="center">
        <span class="number">{{result.summary.number}}</span>
        - <span class="german-title">{{result.summary.germanTitle}}</span>
        <br>
        <span class="english-title">{{result.summary.englishTitle}}</span>
        <br>
        <span class="author">{{result.summary.bookAuthor}}</span>
    </p>

    <table width="70%" align="center">
        <tr>
            <td><div class="summary" v-html="result.summary.text"></div></td>
            <td>
                <a v-bind:href="'/api/covers/' + result.summary.number">
                    <img width="200px" v-bind:src="'/api/covers/' + result.summary.number" />
                </a>
            </td>
        </tr>
    </table>

    <p align="right">
        <span class="author">{{result.summary.authorName}}</span>
        <span class="date">{{result.summary.date}}</span>
    </p>

    <table align="center" width="50%" border="0">
        <tr>
            <td align="right">
                <span class="previous">
                    <a v-on:click="previousSummary" href="#">
                        <img border="0" src="/static/agt_back-64.png"/>
                    </a>
                </span>
            </td>
            <td align="center">
                <a v-bind:href="result.summary.hrefBackToCycle">Back to the cycle</a>
            </td>
            <%#bannerInfo.username%>
            <td align="center">
                <a v-bind:href="'/summaries/' + result.summary.number + '/edit'">Edit this summary</a>
                &nbsp; | &nbsp
                <a class="c-off-white" v-bind:href="result.perryPedia">PerryPedia</a>
            </td>
            <%/bannerInfo.username%>
            <td align="right">
                <span class="previous">
                    <a v-on:click="nextSummary" href="#">
                        <img border="0" src="/static/agt_forward-64.png"/>
                    </a>
                </span>
            </td>
        </tr>
    </table>
</div>

<%> footer %>

</body>
<script src="/static/js/displaySummary.js"></script>
<html>

