{{=<% %>=}}
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <%> header-head %>
</head>

<body class="bg-gr-dk">

<div id="app" v-cloak>
    <!-- PAGE BORDER -->

    <div class="border-t"></div>
    <div class="border-l"></div>
    <div class="border-r"></div>
    <div class="border-b"></div>

    <div class="mt-25">
        <section class="grid-center col">

            <div class="col-3">
                <div class="pl-4">
                    <div class="title-xs c-off-white i">cycle {{result.cycle.number}}</div>
                    <div class="title-h-xs c-off-white mt-05">
                        {{result.cycle.germanTitle}} • {{result.cycle.englishTitle}}</div>
                </div>
            </div>

            <div class="col-6">
                <div class="title-xs c-off-white i">heft {{result.summary.number}}</div>
                <div class="title-h-xs c-off-white mt-05">by {{result.summary.bookAuthor}}</div>
            </div>

            <div class="col-3">
                <div class="title-xs c-off-white i">summarized on {{result.summary.date}}</div>
                <div class="title-h-xs c-off-white mt-05">by {{result.summary.authorName}}</div>
            </div>

        </section>
    </div>

    <section class="grid-center col">

        <div class="col-6_lg-8_md-11">
            <div class="title-xl c-yellow mt-5">{{result.summary.englishTitle}}</div>
            <div class="title-sm c-yellow mt-05">{{result.summary.germanTitle}}</div>

            <div class="mt-4 mb-10">
                <div id="img-cover" class="fl-l ml--65">
                    <img v-bind:src="result.coverUrl" alt="cover image" class="img-cover">
                </div>
                <p class="p-lg c-off-white lh-15 op-8" v-html="result.summary.text">
                </p>
            </div>
        </div>
    </section>

    <section class="grid-center col" style="padding-bottom: 150px">
        <div class="col-6 c-off-white">
            <table align="center" width="50%" border="0">
                <tr>
                    <%#bannerInfo.username%>
                    <td align="center">
                        <a class="c-off-white" v-bind:href="'/summaries/' + result.summary.number + '/edit'">
                            Edit this summary
                        </a>
                        <%#bannerInfo.isAdmin%>
                        &nbsp; | &nbsp
                        <a class="c-off-white" v-bind:href="result.perryPedia">PerryPedia</a>
                        <%/bannerInfo.isAdmin%>
                    </td>
                    <%/bannerInfo.username%>
                </tr>
            </table>
        </div>

    </section>

    <%> navigation %>

</div>

</body>
<script src="/static/js/displaySummary.js"></script>
<html>

