{{=[[ ]]=}}
    
<!doctype html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="/static/js/common.js"></script>
</head>

<body>
<div id="app">
    <ul>
        <li>Auth Twitter: {{twitter}}</li>
        <li>Auth Gmail: {{gmail}}</li>
    </ul>
</div>
</body>
<script src="/static/js/test.js"></script>
</html>