<html>

<title>
    {{ > header-title }}
</title>

<body>
Your summary has been submitted and is being reviewed by the administrator. You will receive a notification
when it gets approved and posted on the site.

Thank you for your contribution!

{{ > footer }}

</body>
</html>