body {
  background: linear-gradient(-225deg, #006FBF 0%, #0A4E6E 100%);
  color: yellow;
/*
  font-family: 'Archivo Black', sans-serif;
*/
}

/*
table {
  font-size: 14pt;
  font-family: Times New Roman, serif;
}

thead {
  font-weight: bold;
}

td {
  vertical-align: top;
}
*/

.row {
  display: flex;
}

.column-1 {
  flex: 20%;
}

.column-2 {
  flex: 80%;
}

.cycles td.number {
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: yellow;
}

input {
  color: black;
  font-family: arial, verdana, ms sans serif;
  font-weight: bold;
  font-size: 12pt;
}

.german-title { font-size: 12pt}
.german-title-small { font-size: 12pt;}
.english-title { font-size : 20pt; font-weight: bold; font-family: 'Regular Narrow Semibold', sans-serif; }
.english-title-small { font-size : 12pt }
.author {  font-size: 14pt; font-style: italic}
.created-by { font-size: 60%; }
.range { color: white; }
.summary-count { color: white; }
