body {
  background-color: rgb(51, 51, 255);
  color: yellow;
}

/*
table {
  font-size: 14pt;
  font-family: Times New Roman, serif;
}

thead {
  font-weight: bold;
}

td {
  vertical-align: top;
}
*/

.row {
  display: flex;
}

.column-1 {
  flex: 20%;
}

.column-2 {
  flex: 80%;
}

.cycles td.number {
  font-size: 16pt;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: yellow;
}

input {
  color: black;
  font-family: arial, verdana, ms sans serif;
  font-weight: bold;
  font-size: 12pt;
}

.german-title {  font-size: 12pt}
.german-title-small {  font-size: 12pt;}
.english-title { font-size : 20pt; font-weight: bold; }
.english-title-small { font-size : 12pt }
.author {  font-size: 14pt; font-style: italic}
.created-by { font-size: 60%; }

