body {
  background-color: rgb(51, 51, 255);
  color: yellow;
}

/*
table {
  font-size: 14pt;
  font-family: Times New Roman, serif;
}

thead {
  font-weight: bold;
}

td {
  vertical-align: top;
}
*/

.cycles td {
  horiz-align: center;
}

.number td {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: yellow;
}

input {
  color: black;
  font-family: arial, verdana, ms sans serif;
  font-weight: bold;
  font-size: 12pt;
}

.number {  font-size: 20pt; font-weight: bold;}
.number-small { font-size: 12pt; }
.german-title {  font-size: 12pt}
.german-title-small {  font-size: 12pt;}
.english-title { font-size : 20pt; font-weight: bold; }
.english-title-small { font-size : 12pt }
.author {  font-size: 14pt; font-style: italic}
.created-by { font-size: 60%; }

